header {
    background-color: red;
    margin: auto;
    width: 55rem;
    text-align: center;


}

body {
    background-color: rgb(69, 69, 139);
    
    


}
    

footer {
    background-color: yellow;
    margin: auto;
    width: 50rem;
    text-align: center;
}